[submodule "submodules/WinUIEdit"]
	path = submodules/WinUIEdit
	url = https://github.com/Avid29/WinUIEdit
[submodule "submodules/GitHub-API"]
	path = submodules/GitHub-API
	url = https://github.com/Avid29/GitHub-API.git
