<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities" xmlns:uap18="http://schemas.microsoft.com/appx/manifest/uap/windows10/18" IgnorableNamespaces="uap rescap uap18">
  <Identity Name="38062AvishaiDernis.Zarem" Publisher="CN=43D24869-0557-46C9-8B30-13C6ACFDB86B" Version="0.4.60504.0" />
  <mp:PhoneIdentity PhoneProductId="aca9e3e2-ecec-4379-bb99-0c09c86c2823" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>ms-resource:/Manifest/AppDisplayName</DisplayName>
    <PublisherDisplayName>Avishai Dernis</PublisherDisplayName>
    <Logo>Assets\AppIcons\Dev\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>
  <Resources>
    <Resource Language="EN" />
    <Resource Language="HE" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="$targetentrypoint$" uap18:TrustLevel="appContainer">
      <uap:VisualElements DisplayName="ms-resource:/Manifest/AppDisplayName-Dev" Square150x150Logo="Assets\AppIcons\Dev\Square150x150Logo.png" Square44x44Logo="Assets\AppIcons\Dev\Square44x44Logo.png" Description="ms-resource:/Manifest/Description" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\AppIcons\Dev\Wide310x150Logo.png" Square71x71Logo="Assets\AppIcons\Dev\SmallTile.png" ShortName="ms-resource:Manifest/AppDisplayName-Dev" Square310x310Logo="Assets\AppIcons\Dev\LargeTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\AppIcons\Dev\SplashScreen.png" BackgroundColor="black" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="assemblyfile">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="text/plain">.asm</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:Logo>Assets\AppIcons\Dev\StoreLogo.png</uap:Logo>
            <uap:DisplayName>ms-resource:/Manifest/FileType/AssemblyFile</uap:DisplayName>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="projectfile">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="text/xml">.zrmp</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:Logo>Assets\AppIcons\Dev\StoreLogo.png</uap:Logo>
            <uap:DisplayName>ms-resource:/Manifest/FileType/ZaremProject</uap:DisplayName>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>